.footer__copyright {
  margin: 0;
  text-align: end;
  line-height: 16px;
}

@media screen and (max-width: 767px) {
  .footer__copyright {
    text-align: start;
    width: max-content;
    line-height: 14px;
    padding-top: 16px;
  }
}
